PORT=3000

# WEATHER API
WEATHER_CITY_ENDPOINT=http://api.openweathermap.org/geo/1.0/direct
WEATHER_WEATHER_ENDPOINT=https://api.openweathermap.org/data/2.5/weather
WEATHER_API_KEY=your-openweatherapi-com-key
