PORT=3000

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=weather_demo
DATABASE_URL=postgresql://user:password@localhost:5432/weather_demo

# WEATHER API
WEATHER_CITY_ENDPOINT=http://api.openweathermap.org/geo/1.0/direct
WEATHER_WEATHER_ENDPOINT=https://api.openweathermap.org/data/2.5/weather
WEATHER_API_KEY=your-openweatherapi-com-key
